body{
    display: flex;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
}

.canvas{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    height: 812px;
    width: 812px;
    border-width: 10px;
    border-style: dashed;
    
}

.pixel{
    background-color: white;
    height: auto;
    width: 50px;
    flex: auto;
}

.pixel:hover{
    background-color: lightgray;
}

.dark{
    background-color: black;
}

button{
    background-color: antiquewhite;
    margin-bottom: 8px;
}
