body{
    display: flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.canvas{
    background-color: red;
    display: flex;
    
    height: 812px;
    width: 812px;
    z-index: -100;
    
}

.pixel{
    background-color: purple;
    height: 100px;
    width: 100px;
}
